<template name="group">




<div class="container-fluid">
  <button id="back" class="btn btn-primary">Back</button>
  <div class="row">
    <div class="col-sm-6">
      <h2>Join a Group</h2>
      <form id="joinGroup">
        <input type="text" placeholder="Group Code" name="groupid" required><br>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-sm-6">
      <h2>Create a Group</h2>
      <form id="newGroup">
        <input type="text" placeholder="Group Name" name="groupname" required><br>
        <button class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
</div>




</template>