<template name="login">
  
<div class="container-fluid">
  <div class="row buffer">
    <div class="col-sm-4 col-sm-offset-2">
      <h2>Login</h2>
      <form id="login">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" name="loginemail" placeholder="Email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="loginpassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <div class="col-sm-4">
      <h2>Create Account</h2>
      <form id="createUser">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default submit">Submit</button>
      </form>
    </div>
  </div>
</div>



</template>